:root{
  --ff: 'Ubuntu';
  --radius: 6px;
  --primary-color: #282A36;
  --secondary-color: #EFEFE6;
  --tertiary-color: #E0002D;
  --link-color: #449DD1;
  --tertiary-color-light: #FFB370;
  --secondary-color-dark: #DFDFCD;
  --black: #292929;
  --code-bg: #44475a;
  --code-fg: #f8f8f2;
  --code-scroll-thumb: #525252;
  --scrollbar-track: #EFEFE6;
  --scrollbar-thumb: #B7B78F;
}

.dark {
  --primary-color: #f8f8f2;
  --secondary-color: #282a36;
  --tertiary-color: #bd93f9;
  --tertiary-color-light: #A34C00;
  --secondary-color-dark: #44475a;
  --scrollbar-track: #292929;
  --scrollbar-thumb: #525252;
}

@font-face {
  font-display: swap;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Ubuntu-Regular.woff2') format('woff2');
}
