@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html,
  body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    @apply bg-background text-foreground;
  }
}

@layer base {
  :root {
    --background: 240 21% 15%;
    --foreground: 226 64% 88%;
    --card: 240 21% 15%;
    --card-foreground: 226 64% 88%;
    --popover: 240 21% 15%;
    --popover-foreground: 226 64% 88%;
    --primary: 226 64% 88%;
    --primary-foreground: 240 21% 15%;
    --secondary: 237 16% 23%;
    --secondary-foreground: 226 64% 88%;
    --muted: 237 16% 23%;
    --muted-foreground: 228 24% 72%;
    --accent: 237 16% 23%;
    --accent-foreground: 226 64% 88%;
    --destructive: 343 81% 75%;
    --destructive-foreground: 226 64% 88%;
    --border: 234 13% 31%;
    --input: 234 13% 31%;
    --ring: 226 64% 88%;
    --radius: 0.5rem;
    --chart-1: 217 92% 76%;
    --chart-2: 170 57% 73%;
    --chart-3: 199 76% 69%;
    --chart-4: 41 86% 83%;
    --chart-5: 23 92% 75%;
  }

  .dark {
    --background: 240 23% 9%;
    --foreground: 226 64% 88%;
    --card: 240 23% 9%;
    --card-foreground: 226 64% 88%;
    --popover: 240 23% 9%;
    --popover-foreground: 226 64% 88%;
    --primary: 226 64% 88%;
    --primary-foreground: 240 23% 9%;
    --secondary: 240 21% 12%;
    --secondary-foreground: 226 64% 88%;
    --muted: 240 21% 12%;
    --muted-foreground: 228 24% 72%;
    --accent: 240 21% 12%;
    --accent-foreground: 226 64% 88%;
    --destructive: 343 81% 75%;
    --destructive-foreground: 226 64% 88%;
    --border: 240 21% 12%;
    --input: 240 21% 12%;
    --ring: 226 64% 88%;
    --chart-1: 217 92% 76%;
    --chart-2: 170 57% 73%;
    --chart-3: 199 76% 69%;
    --chart-4: 41 86% 83%;
    --chart-5: 23 92% 75%;
  }
}
